body {
    font-family: Azeret Mono;
}

nav .content {
    display: flex;
    justify-content: center;
    gap: 950px;
    height: 100px;
    margin-top: 30px;
}

nav h1 {
    font-size: 28px;
}

nav button {
    border-radius: 12px;
    width: 240px;
    height: 60px;
    border: 1px solid black;
    background-color: white;
}

header .header-section {
    background-image: url("/assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    width: 100%;
    height: 650px;
    align-content: center;
}

.header-section h1 {
    font-size: 50px;
}

.header-section button {
    width: 200px;
    height: 55px;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
}

.development-section {
    margin: 80px 120px;
}

.development-content h1 {
    font-size: 35px;
}

.development-section p:first-child {
    margin-bottom: 60px;
}

.development-content {
    padding: 80px 150px;
    border-radius: 15px;
    background-color: #f7f7f7;
    text-align: center;
}

.development-content .will-do {
    margin-top: 60px;
    display: flex;
    gap: 350px;
    padding: 55px 65px;
    background-image: linear-gradient(to right, white, #f7f7f7);
    border-radius: 12px;
    text-align: left;
}

.development-content .will-help {
    display: flex;
    /* justify-content: center; */
    gap: 250px;
    padding: 55px 65px;
    background-image: linear-gradient(to left, white, #f7f7f7);
    border-radius: 12px;
    text-align: left;
}

.development-content .will-do-coding {
    display: flex;
    gap: 250px;
    padding: 55px 65px;
    background-image: linear-gradient(to right, white, #f7f7f7);
    border-radius: 12px;
    text-align: left;
}

.development-content button {
    width: 170px;
    height: 46px;
    font-size: 22px;
}

.development-content span {
    margin-bottom: 60px 0px;
}

.development-content p {
    margin: 30px 0px;
}

.inspiration-section {
    text-align: center;
}

.inspiration-section h1 {
    font-size: 35px;
}

.inspiration-section p {
    margin-bottom: 60px;
}

.inspiration-section iframe {
    border-radius: 15px;
    padding: 30px;
    border: 1px solid #dad8d8;    
}

/* Target Section */
.target-section {
    margin: 120px;
    text-align: center;
}
.target-section h1 {
    font-size: 35px;
}

.target-content {
    display: flex;
    text-align: left;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
.target-content .html {
    width: 364px;
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 40px;
}
.target-content .html h3 {
    text-decoration: underline;
}

.target-content .css {
    width: 364px;
    background-color: rgb(215, 240, 250);
    border-radius: 8px;
    padding: 40px;
}
.target-content .css h3 {
    text-decoration: underline;
}

.target-content .jscript {
    width: 364px;
    background-color: rgb(250, 243, 221);
    border-radius: 8px;
    padding: 40px;
}
.target-content .jscript h3 {
    text-decoration: underline;
}